resource_group_name  = "war-climate-analytics-tfstate-rg"
storage_account_name = "elwdemotfstate001"
container_name       = "tfstate"
key                  = "dev/terraform.tfstate"
use_azuread_auth     = true

